<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/template">
<head>
<meta charset="UTF-8" />
<title th:text="#{user.list.title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-12">
				<div class="card m-b-30">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<h4 class="mt-0 header-title" th:text="#{user.list.title}"></h4>
							</div>
							<div class="col-md-6 col-sm-6">
								<a class="pull-right btn btn-primary" th:href="@{/admin/account/add}"><img th:src="@{/user/images/add.png}" height="20" />Thêm mới</a>
							</div>
						</div>
						<hr />
						<div class="table-responsive">

							<table id="datatable" class="table table-bordered">
								<thead>
									<tr>
										<th></th>
										<th th:text="'ID'"></th>
										<th th:text="#{user.name}"></th>
										<th th:text="#{user.phone}"></th>
										<th th:text="#{text.option}"></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="5"><button id="delButt" class="btn btn-danger"><i class="fa fa-trash"></i>Xóa tất</button></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{user.delete.confirm.message}"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-lock" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{user.lock.confirm.message}"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.lock}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-export-exel" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-success btn-ok" style="color: white;" th:text="#{text.yes}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-unlock" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{user.unlock.confirm.message}"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.unlock}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete-multi" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{user.delete.confirm.message}"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<button class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="please-select-dialog" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">Vui lòng tích chọn các dòng để xoá?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.cancel}"></button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		var vietnameseUrl = [[@{/user/plugins/datatables/Vietnamese.json}]];
	    var url = [[@{/admin/accounts}]];
	    var editUrl = [[@{/admin/account/update}]];
	    var resetPasswordUrl = [[@{/admin/account/reset-password}]];
	    var delUrl = [[@{/admin/account/delete}]];
	    var delMultiUrl = [[@{/admin/account/delete-multi}]];
	    var csrf_token = [[${_csrf.token}]];
	    var searchHolderText = [[#{user.search.holder}]];
	    
	    var id = "";
	    var table;
		$(document).ready(function() {
			table = $('#datatable').DataTable( {
				"processing": true,
		        "serverSide": true,
		        "ajax": {
		        	type:"POST",
		            url: url,
		            dataType: "json",
		            contentType: "application/json",
		            headers: {'X-CSRF-TOKEN': csrf_token},
		            data: function ( d ) {
		            	d.roleList = [1];
		            	searchDTO = d;
		            	return JSON.stringify( d );
		            }
		        },
		        "lengthMenu": [10, 25, 50, 100, 200],
		        "columns": [
		            { "data": "id" },
		            { "data": "id" },
		            { "data": "name" },
		            { "data": "phone" },
		            { "data": "id" }
		        ],
		        "order": [1, "desc"],
		        "select": {
		        	'style': 'multi'
		        },
		        "columnDefs": [
					{
					    'targets': 0,
					    'checkboxes': {
					       'selectRow': true
					    }
					},
     		     	{
   	                "render": function ( data, type, row ) {
   	                	var content =  '';
   	                	content += '<button id="editButt" class="btn btn-primary"><i class="fa fa-pencil-alt"></i>Sửa</button>'
	              		content +='<button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" data-name='+ encodeURI(row.name)+' data-phone='+row.phone+'><i class="fa fa-trash"></i>Xóa</button>'
	              		content +='<button id="resetPasswordButt" class="btn btn-info"><i class="fa fa-key"></i>Đổi mật khẩu</button>';
   	                    return content;
   	                },
					"orderable" : false,
   	                "targets": 4
  	            	}
		        ],
		        "language": {
		            "url": vietnameseUrl,
		            "searchPlaceholder": searchHolderText
		        },
		        "initComplete": function(settings, json) {
		        }
	        });
			
			$('#datatable tbody').on( 'click', 'button', function () {
				var data = table.row( $(this).parents('tr') ).data();
				id = data.id;
				if ($(this).prop("id") == 'editButt') {
					window.location.href = editUrl + "/" + id;
				}
				if ($(this).prop("id") == 'resetPasswordButt') {
					window.location.href = resetPasswordUrl + "/" + id;
				}
		    } );
			
			$('#confirm-delete').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $.get(delUrl + '/' + id).then(function() {
				     $modalDiv.modal('hide');
				     table.draw();
				  }, function() {
					  $modalDiv.find('div.modal-body').html('<b>Người dùng đang sử dụng!</b>');
				  });
				});
			//triggered when modal is about to be shown
			$('#confirm-delete').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var name = $(e.relatedTarget).data('name');
			    var phone = $(e.relatedTarget).data('phone');
			    //populate the textbox
			    $(e.currentTarget).find('div.modal-body').html('<strong>' + decodeURI(name) + ' - ' + phone + '</strong>');
			});
	    });
		// Handle form submission event
		var rowIds = [];
		$('#delButt').on('click', function(e){
		    var rows_selected = table.column(0).checkboxes.selected();
		    rowIds = [];
		    // Iterate over all selected checkboxes
		    $.each(rows_selected, function(index, rowId){
		       // Create a hidden element
		       rowIds.push(rowId);
		    });
		    if (rows_selected.length == 0) {
		    	$("#please-select-dialog").modal('show');
		    } else {
		    	$("#confirm-delete-multi").modal('show');
		    }
	 	});
		$('#confirm-delete-multi').on('click', '.btn-ok', function(e) {
			  var $modalDiv = $(e.delegateTarget);
			  $.get(delMultiUrl + '/' + rowIds.toString()).then(function() {
				  $modalDiv.modal('hide');
				  table.draw();
		      });
		});
	</script>
	</div>
</body>
</html>